<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="<%= relative_url("/css/pure-min.css") %>">
  <link rel="stylesheet" type="text/css" href="<%= relative_url("/css/index.css") %>">
  <title><%= page_title %></title>
</head>
<body>
  <div id="page-title"><h2><%= page_title %></h2></div>
  <div class="sortby-selection-menu pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a href="<%= relative_url("/files/" + path) %>?sort_by=title"         class="pure-menu-link">Title</a></li>
      <li class="pure-menu-item"><a href="<%= relative_url("/files/" + path) %>?sort_by=title_reverse" class="pure-menu-link">Title(reverse)</a></li>
      <li class="pure-menu-item"><a href="<%= relative_url("/files/" + path) %>?sort_by=date"          class="pure-menu-link">Date</a></li>
      <li class="pure-menu-item"><a href="<%= relative_url("/files/" + path) %>?sort_by=date_reverse"  class="pure-menu-link">Date(reverse)</a></li>
      <% if upperpath %>
        <li class="pure-menu-item">
        <a href="<%= relative_url("/files/%s?sort_by=%s" % [upperpath, sort_type])%>" class="pure-menu-link">../</a>
        </li>
      <% end %>
    </ul>
  </div>
  <table id="file_list" class="pure-table">
    <thead>
      <tr>
        <td>File/Directory</td>
        <td>Mobi</td>
        <td>Size</td>
        <td>Last Modified</td>
      </tr>
    </thead>
    <tbody>
      <% files_info.each_with_index do |(f, fsize, mtime),index| %>
        <tr>
          <% if File.file? f %>
            <td class="file">
              <a href="<%= relative_url('/get_file/' + f)%>">
                <%= File.basename(f)%>
              </a>
            </td>
            <td class='buttons'>
              <a class='file-button pure-button' href='<%= relative_url("/generate_mobi/#{f}") %>'>Generate</a>
            </td>
          <% else %>
            <td class="directory">
              <a href="<%= relative_url("/files/%s?sort_by=%s" % [f, sort_type]) %>"><%= File.basename(f) + "/" %></a>
            </td>
            <td class='buttons'>
              <!-- nothing to display -->
            </td>
          <% end %>
          <td class="size"><%= fsize %></td>
          <td class="mtime"><%= mtime %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</body>
</html>

